.bg-color{
background: #c6b5d8 !important;
}
.btn-primary,.mouse-icon{
 background-color: #c47df3;
}
.slider-text{
    max-height: 400px;
}
.ftco-navbar-light.scrolled .nav-item.cta > a{
    background:#b877fa !important;
}

.txt-color{
    color: #b877fa !important;
}
.carouselExampleCaptions, .carousel-inner{
    height: 350px;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    height: 350px !important;
    
}
.imag-pro img{
    width: 50px;
    height: 50px;
}
.navbar-badge1 {
   font-size: 8px;
    padding: 4px;
    position: relative;
    right: -30px;
    top: -70px;
}
.bg-light {
    background-color: #efe0ff!important;
}
.ftco-navbar-light {
    background: #ffffff !important; 
    color: #0000;
    position: relative;
    top: 0;
    padding: 10px 15px;
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(59, 23, 73, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}
.avatar {
    max-width: 138px;
    max-height: 138px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 130px;
    max-height: 130px;
}
.avatar-ws {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-content: center;
    margin-left: 5px;
}

.avatar-pr {
    border-radius: 50%;
    height: 90px;
    width: 80px;
    align-content: center;
    margin-left: 5px;
}

.btn-delete{
    position: relative;
    top: 33px;
    left: 10px;
}
.erorName .form-control{

            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 200;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            box-shadow: inset 0 0 0 transparent;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            border: none;
            border-bottom: solid 1px #b877fa;
        }

.ft {
   position: fixed; 
}
video{
    width: 100%;
}